#!/bin/bash

set -eufo pipefail

brew tap homebrew/cask-fonts
brew install font-hack-nerd-font

{{ $brews := list
     "curl"
     "eza"
     "jq"
     "git"
     "commitizen"
     "bash"
     "wget"
     "fd"
     "zsh" -}}
{{ $casks := list
     "battery"
     "google-chrome"
     "hammerspoon"
     "iterm2"
     "karabiner-elements"
     "tailscale"
     "telegram"
     "visual-studio-code" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
