#!/bin/bash

set -eufo pipefail

brew install font-hack-nerd-font
# https://guumaster.github.io/hostctl/docs/
brew install guumaster/tap/hostctl

{{ $brews := list
     "curl"
     "eza"
     "jq"
     "git"
     "dockutil"
     "commitizen"
     "bash"
     "wget"
     "fd"
     "awscli"
     "zsh" -}}
{{ $casks := list
     "grammarly-desktop"
     "whatsapp"
     "discord"
     "openvpn-connect"
     "jetbrains-toolbox"
     "obsidian"
     "keycastr"
     "skitch"
     "slack"
     "todoist"
     "zoom"
     "session-manager-plugin"
     "docker"
     "battery"
     "google-chrome"
     "hammerspoon"
     "iterm2"
     "tailscale"
     "telegram"
     "chatgpt"
     "visual-studio-code" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

l
echo "OK"