[init]
  defaultBranch = master
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim
  ignorecase = false
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[fetch]
  recursesubmodules = yes
  parallel = 0
[status]
  submoduleSummary = true
[user]
  name = Krzysztof Boduch
  email = {{ .email }}
